*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;    
} 

html{
    scroll-behavior: smooth;
}



:root {
    --primary-color:#111;
    --secondary-color:#f2f2f2;
}

.light-theme {
    --primary-color:#d5d5d5;
    --secondary-color:#222;
}

.hero-header{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: poppins, sans-serif;
}

.hero-skills{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: poppins, sans-serif;
}


.container{
   width: 95%; 
   margin: 0 auto;
}

.toggle
{
    position: fixed;
    right: 4%;
    top: 5%;
    color: #fff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #2b2a2a;
    border-radius: 50%;
    text-align: center;
}

.header-content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.body-content
{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.body-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-bottom: 2rem;
}

.body-form .text-content{
    padding: 2rem 3.5rem;
    margin: 1.2rem;
    color:var(--secondary-color);
    width: 80%;
    font-weight: 400;
    text-align: center;
}

.body-form .text-content h1{
    font-size: 3.5rem;
    color: blueviolet;
    position: relative;
    line-height: 3.6rem;
    margin: 1.5rem;
    font-weight: 600;
}


.body-form .form-info .form-div{
    border: 2px solid blueviolet;
    background-color: #2a2b2b00;
    border-radius: 50px;
    padding: 2rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-form .form-info .form-div button{
    position: relative;
    width: 240px;
    min-height: 45px;
    line-height: 45px;
    overflow: hidden;
    border: 1px solid blueviolet;
    border-radius: 35px;
    margin: 2.5rem 0;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 16px;
}

.body-content .text-content{
    padding: 2rem 3.5rem;
    margin: 1.2rem;
    color:var(--secondary-color);
    width: 80%;
    font-weight: 400;
    text-align: center;
}

.body-content .text-content h1{
    font-size: 3.5rem;
    color: blueviolet;
    position: relative;
    line-height: 3.6rem;
    margin: 1.5rem;
    font-weight: 600;
}

.body-content .text-content ul{
    font-size: 1.5rem;
    color: var(--secondary-color);
    position: relative;
    line-height: 2rem;
    margin: 1.5rem;
    font-weight: 500;
    text-align: center;
    margin: auto;
    list-style-type: none;
    
}

.body-content .skills
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50%;
    border-radius: 30px;
    overflow: hidden;
    padding: 1rem;
}

.body-content .skills .skills-div{
    background-color: #2a2b2b;
    border-radius: 25%;
}

.body-content .skills .skills-div :hover{
    background-color: var(--primary-color);
    border: 1px solid blueviolet;
    border-radius: 35px;
    scale: 120%;
    transition: 0.5s;
}

.skills img
{
    height: 150px;
    width: 150px;
    padding: 1rem;
}


.body-content .projects .projects-div{
    border: 2px solid blueviolet;
    background-color: #2a2b2b00;
    border-radius: 50px;
    padding: 2rem;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.body-content .projects .projects-div button{
    position: relative;
    width: 240px;
    min-height: 45px;
    line-height: 45px;
    overflow: hidden;
    border: 1px solid blueviolet;
    border-radius: 35px;
    margin: 2.5rem 0;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 16px;
}

.body-content .projects .projects-div p{
    color: var(--secondary-color);
    line-height: 2rem;
    text-align: center;
}

.body-content .projects .projects-div h2{
    color: var(--secondary-color);
    line-height: 2rem;
    padding: 2rem;
    text-align: center;
}

.body-content .projects{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 30px;
    overflow: hidden;
    padding: .5rem;
}

.projects img{
    height: 300px;
    width: 300px;
}

.header-content .profile
{
    height: 550px;
    width: 650px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 7px 5px 28px rgba(0,0,0,0.1);
}

.profile img
{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.header-content .text-content{
    padding: 2rem 3.5rem;
    margin: 1.2rem;
    color:var(--secondary-color);
    width: 80%;
    font-weight: 400;
}

.header-content .text-content h1{
    font-size: 3.5rem;
    color: blueviolet;
    position: relative;
    line-height: 3.6rem;
    margin: 1.5rem;
    font-weight: 600;
}

.header-content .text-content h1::before{
    content: "";
    background-color: blueviolet;
    position: absolute;
    top: 25%;
    left: -6%;
    height: 5px;
    width: 30px;
    border-radius: 10px;
}

.header-content .text-content h1 span
{
   color: var(--secondary-color); 
}

.navigation .nav{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
    padding: 0.8rem;
}

.navigation .nav a{
    position: relative;
    font-size: 18px;
    display: block;
    margin: 10px;
    transition: 0.5s;
    color: var(--secondary-color);
}

.navigation .nav a i{
    height: 50px;
    width: 50px;
    line-height: 50px;
    background-color: #2b2a2a;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.navigation .nav .active{
    color: var(--secondary-color);
    background-color: blueviolet;
}

.navigation .nav a:hover i{
    background-color: blueviolet;
    color: var(--secondary-color);
}

.header-content .button{
    position: relative;
    width: 240px;
    min-height: 45px;
    line-height: 45px;
    overflow: hidden;
    border: 1px solid blueviolet;
    border-radius: 35px;
    margin: 2.5rem 0;
    color: var(--secondary-color);
    background-color: transparent;
    font-size: 16px;
}

.button .text{
    font-family: poppins;
    font-size: 18px;
}

.button .icon{
    position: absolute;
    right: 0;
    top: 0;
    height: 47px;
    width: 47px;
    border-radius: 35px;
    background-color: blueviolet;
    color: #fff;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

.button:hover .icon{
    width: 100%;
} 

.form{
    display: flex;
    flex-direction: column;
}

.form input{
    background-color: #22222200;
    border: 1px solid blueviolet;
    padding: .5rem;
    border-radius: 25px;
    margin: .5rem;
}

.form textarea{
    background-color: #22222200;
    border: 1px solid blueviolet;
    padding: .5rem;
    border-radius: 15px;
    margin: .5rem;
}

@media(max-width:1200px)
{
    .header-content{
        flex-direction: column;
    }
    .header-content .profile
    {
        width: 320px;
        height: 320px;
        border-radius: 50%;
        margin-top: 2rem;
    }
    .header-content .profile img
    {
        width: 100%;
        height: 100%;
    }
    .text-content{
        width: 100%;
        text-align: center;
    }
    .text-content h1::before{
        display: none;
    }
    .navigation{
        background-color: #2b2a2a;
        position: fixed;
        bottom: 0;
        width:100%;
    }
    .navigation .nav{
        width:60%;
        flex-direction: row;
        padding: 0.3rem;
        margin: auto;
    }

    @media(max-width:768px){
        .header-content .profile{
            width:280px;
            height: 280px;
            border-radius: 50%;
            margin-top: 2rem;
        }
        .header-content .profile img{
            width: 100%;
            height: 100%;
        }
        .header-content .text-content h1{
            font-size: 2rem;
            line-height: 2rem;
        }

        .body-content .text-content h1{
            font-size:2rem;
            line-height: 2rem;
        }

        .body-form .text-content h1{
            font-size:2rem;
            line-height: 2rem;
        }

        .header-content .button{
            width: 200px;
        }

        .header-content .button .text{
            font-size: 14px;
        }
    }
    
}

